@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700");
.ul--chart, .nav, .div--switch-container, .div--recent-activity, .div--new-member, .div--alert, .div--profile, .div--notification-entry, .div--notification-and-profile {
  display: flex;
  flex-direction: row;
}

.header, .form, .div--settings, .div--social-cards, .div--tab {
  display: flex;
  flex-direction: column;
}

.main, .div--button-container, .div--social-card {
  display: grid;
}

.div--settings, .div--message-user, .div--recent-activities, .div--new-members, .div--social-card, .div--social-stats, .div--chart-tertiary, .div--chart-secondary, .div--chart-primary-label, .div--chart-primary, .div--alert, .div--tab {
  margin-bottom: 2rem;
}

.div--message-user, .div--recent-activities, .div--new-members, .div--social-stats, .div--chart-tertiary, .div--chart-secondary, .div--chart-primary {
  border-bottom: 0.05rem solid #4C4D6F;
}

.div--recent-activity, .div--new-member {
  align-items: center;
  border-bottom: 0.05rem solid #B2B2B2;
  padding: 1rem 0;
}
.div--recent-activity:last-child, .div--new-member:last-child {
  border: none;
  margin-bottom: 1rem;
}

.div--recent-activity-details, .div--new-member-details {
  margin: 0 0.5rem;
}

.form__textarea, .form__input {
  background: #F5F5F5;
  border: 0.1rem solid transparent;
  border-radius: 0.3125rem;
  padding: 0.5rem;
  transition: background 0.5s, border 0.5s;
  transition-timing-function: ease-in-out;
}
.form__textarea:focus, .form__input:focus {
  outline: none;
  border: 0.1rem solid #8DD490;
  background: #FFFFCC;
}

.btn--error, .btn--default {
  color: #fff;
  padding: 0.5rem;
  border-radius: 0.3125rem;
  transition: opacity 0.5s;
  transition-timing-function: ease-out;
}
.btn--error:hover, .btn--default:hover {
  opacity: 0.8;
}

.notification, .svg--icon, .img--avatar {
  height: 2rem;
  width: 2rem;
}

.svg--badge {
  height: 5rem;
  width: 5rem;
  padding: 1rem;
}

.new, .img--avatar {
  border-radius: 50%;
}

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* Lists
   ========================================================================== */
/**
 * Remove default list styles, margins and padding.
 */
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  color: #838383;
}

.btn--default {
  background: #7479BA;
}
.btn--default[name=send] {
  margin-bottom: 2rem;
}
.btn--error {
  background: #91C694;
}

.no-border {
  border: none;
}

.close-notification {
  margin-left: 1rem;
  border: none;
}

canvas {
  margin-bottom: 2rem;
}

.div--notification-and-profile {
  justify-content: space-between;
  width: 95%;
}
@media (min-width: 768px) {
  .div--notification-and-profile {
    justify-content: flex-end;
  }
}
.div--notification-popup {
  display: none;
  background-color: #fff;
  border: 0.35rem solid #F5F5F5;
  border-radius: 0.3125rem;
  padding: 1rem;
  position: absolute;
  top: 8%;
}
.div--notification-entry {
  justify-content: space-between;
  border-bottom: 0.05rem solid #B2B2B2;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.div--notification-entry:last-child {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}
.div--profile {
  align-items: center;
}
@media (min-width: 768px) {
  .div--profile {
    border-left: 0.05rem dashed #B2B2B2;
    padding-left: 2rem;
    margin-left: 2rem;
  }
}
@media (min-width: 768px) {
  .div--tab {
    background-color: #F5F5F5;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    grid-area: tab;
  }
}
.div--alert {
  justify-content: space-between;
  align-items: center;
  background-color: #7479BA;
  padding: 1rem;
  border-radius: 0.3125rem;
}
@media (min-width: 768px) {
  .div--alert {
    grid-area: alert;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@media (min-width: 768px) {
  .div--chart-primary {
    grid-area: chart-primary;
    padding: 1rem 1rem 0;
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .div--chart-secondary {
    grid-area: chart-secondary;
    border-right: 0.05rem solid #4C4D6F;
    padding: 1rem 1rem 0;
  }
}
@media (min-width: 768px) {
  .div--chart-tertiary {
    grid-area: chart-tertiary;
    padding: 1rem 1rem 0;
  }
}
@media (min-width: 768px) {
  .div--social-stats {
    grid-area: social-stats;
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .div--social-cards {
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 3rem;
  }
}
.div--social-card {
  background: #F5F5F5;
  border: 0.12rem solid #B2B2B2;
  border-radius: 0.3125rem;
  padding: 1rem;
  grid-gap: 0.2rem;
  grid-template-columns: minmax(50px, 1fr) minmax(75px, 2fr);
  grid-template-areas: "badge label" "badge stats";
}
@media (min-width: 768px) {
  .div--social-card {
    margin-bottom: 0;
    grid-template-columns: repeat(2, minmax(50px, 1fr));
  }
}
@media (min-width: 768px) {
  .div--new-members {
    grid-area: new-members;
    border-right: 0.05rem solid #4C4D6F;
    padding: 1rem 1rem 0;
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .div--recent-activities {
    grid-area: recent-activity;
    padding: 1rem 1rem 0;
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .div--message-user {
    grid-area: message-user;
    border-right: 0.05rem solid #4C4D6F;
    border-bottom: none;
    padding: 1rem 1rem 0;
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .div--settings {
    grid-area: settings;
    padding: 1rem 1rem 0;
    justify-content: space-between;
  }
}
.div--switch-container {
  margin-bottom: 1rem;
  justify-content: space-between;
}
.div--button-container {
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  grid-column-gap: 1rem;
}

@media (min-width: 768px) {
  .form__input.tab {
    background-color: #fff;
    max-height: 70%;
    width: 25%;
    margin-right: 1rem;
  }
}
.form__textarea {
  margin: 1rem 0;
  resize: none;
}
.form__label {
  width: 20%;
}
.form__select {
  height: 2rem;
  margin-bottom: 2rem;
}

.container {
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 1024px) {
  .container {
    display: grid;
    grid-template-columns: minmax(20px, min-content) minmax(70px, 2fr);
    grid-template-areas: "header header" "nav main";
  }
}

.main {
  padding: 1rem;
  grid-template-columns: minmax(100px, 1fr);
}
@media (min-width: 768px) {
  .main {
    padding: 0 0 1rem;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-template-areas: "tab tab" "alert alert" "chart-primary chart-primary" "chart-secondary chart-tertiary" "social-stats social-stats" "new-members recent-activity" "message-user settings";
  }
}
@media (min-width: 1024px) {
  .main {
    grid-area: main;
  }
}

.header {
  align-items: center;
  background: #7479BA;
  padding: 1rem;
}
@media (min-width: 768px) {
  .header {
    flex-direction: row;
  }
}
@media (min-width: 1024px) {
  .header {
    grid-area: header;
  }
}

.svg--icon {
  transition: opacity 0.5s;
}
.svg--icon:hover {
  opacity: 0.5;
}
.svg--badge {
  background: #7479BA;
  border-radius: 50%;
  grid-area: badge;
}
.svg--badge path {
  fill: #fff;
}

.notification {
  transition: transform 0.5s;
  transform-origin: top center;
}
.notification:hover {
  transform: rotateZ(30deg);
  opacity: inherit;
}

.notification-container {
  position: relative;
}

.new {
  border: 0.35rem solid #91C694;
  position: absolute;
  top: -7%;
  right: 15%;
}

.nav-area {
  background: #4C4D6F;
}
@media (min-width: 1024px) {
  .nav-area {
    grid-area: nav;
  }
}

.nav {
  justify-content: space-around;
}
@media (min-width: 1024px) {
  .nav {
    flex-direction: column;
  }
}
.nav__item {
  padding: 0.5rem;
  border: 0.35rem solid transparent;
}
.nav__item.active {
  border-bottom: 0.35rem solid #8DD490;
}
@media (min-width: 1024px) {
  .nav__item.active {
    border-bottom-color: transparent;
    border-left: 0.35rem solid #8DD490;
  }
}

.ul--chart {
  justify-content: space-around;
}
.ul--chart-item a {
  padding: 0.5rem;
  border-radius: 1rem;
  color: #838383;
}
.ul--chart-item a.active {
  background: #8DD490;
  color: #fff;
}

.thin {
  font-weight: 300;
}

.tm {
  font-size: 0.9rem;
  vertical-align: top;
}

.username {
  color: #fff;
  margin-left: 0.5rem;
}

.alert {
  color: #fff;
}

.user-date {
  margin-left: auto;
}

.user-hours {
  font-weight: 300;
}

.more {
  margin-left: auto;
  font-size: 2rem;
}

.close {
  color: #F5F5F5;
  font-weight: 700;
  margin-left: 2rem;
}

.text--primary {
  font-size: 1rem;
}
.text--secondary {
  font-size: 0.85rem;
}

.headline--primary {
  color: #fff;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .headline--primary {
    margin-bottom: 0;
  }
}
.headline--secondary {
  text-align: center;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .headline--secondary.tab {
    background-color: #fff;
    margin-bottom: 0;
    padding: 1rem;
  }
}
.headline--tertiary {
  color: #7479BA;
  grid-area: label;
}
.headline--quaternary {
  color: #000;
  font-weight: 300;
  font-size: 2.5rem;
  grid-area: stats;
}

/* Typography:
    .container
    .link
    .blockquote
    .headline--primary
    .headline--secondary */

/*# sourceMappingURL=styles.css.map */
