%center {
  margin: $spacing-small auto;
}

%flex-row {
 display: flex;
 flex-direction: row;
}

%flex-column {
 display: flex;
 flex-direction: column;
}

%grid {
  display: grid;
}

%div-spacing {
  margin-bottom: $spacing-medium;
}

%member-div {
  align-items: center;
  border-bottom: $border-separator-size solid $dark-gray;
  padding: $spacing-small 0;

  &:last-child {
    border: none;
  }
}

%left-right-spacing {
  margin: 0 $spacing-extrasmall;
}

%form-element {
  background: $off-white;
  border: $border-form-size solid transparent;
  border-radius: $border-form-radius;
  padding: $spacing-extrasmall;
  transition: background $duration-animation, border $duration-animation;
  transition-timing-function: ease-in-out;

  &:focus {
    outline: none;
    border: $border-form-size solid $active-green;
    background: #FFFFCC;
  }
}

%button {
  color: $white;
  padding: $spacing-extrasmall;
  border-radius: $border-form-radius;
  transition: opacity $duration-animation;
  transition-timing-function: ease-out;

  &:hover {
    opacity: 0.8;
  }
}

%icon {
  height: $size-icon;
  width: $size-icon;
}

%social-icon {
  height: $size-social-icon;
  width: $size-social-icon;
  padding: $spacing-small;
}

%rounded {
  border-radius: $border-rounded-radius;
}
