%center {
  margin: $spacing-small auto;
}

%flex-row {
 display: flex;
 flex-direction: row;
}

%flex-column {
 display: flex;
 flex-direction: column;
}

%grid {
  display: grid;
}

%div-spacing {
  margin-bottom: $spacing-medium;
}

%icon {
  height: $size-icon;
  width: $size-icon;
}

%social-icon {
  height: $size-social-icon;
  width: $size-social-icon;
  padding: $spacing-small;
}

%rounded {
  border-radius: $border-rounded-radius;
}
