%center {
  margin: $spacing-small auto;
}

%flex-row {
 display: flex;
 flex-direction: row;
}

%flex-column {
 display: flex;
 flex-direction: column;
}

%grid {
  display: grid;
}

%padded {
  padding: $spacing-extrasmall;
}

%icon {
  height: 2.5rem;
  width: 2.5rem;
}
