// Descriptive Colors
$white: #fff;
$black: #000;
$gray: #808080;
$wild-blue: #7479BA;
$east-bay: #4C4D6F;
$gray: #838383;
$dark-gray: #B2B2B2;
$dark-sea-green: #91C694;
$active-green: #8DD490;
$off-white: #F5F5F5;

$color-primary: $wild-blue;
$color-secondary: $east-bay;
$color-tertiary: $dark-sea-green;

// Font color

$btn-colors: (
  default: $wild-blue,
  cancel: $dark-gray,
);

// Font Stacks
$font-url--google        : 'https://fonts.googleapis.com/css?family=Raleway:300,400,700';
$font-family--primary    : 'Raleway', sans-serif;

// Font size
$size-primary-text: 1rem; // will be used by mostly everything
$size-secondary-text: 0.85rem;
$size-social-stats-text: 2.5rem;
$size-tm-text: 0.9rem;
$size-more-text: 2rem;

// Font weight
$weight-thin: 300;
$weight-thick: 700;

// Layout
$spacing-extrasmall: 0.5rem;
$spacing-small: 1rem;
$spacing-medium: 2rem;
$spacing-large: 3rem;
$padding-button: 0.75rem;

// Grid
$size-grid-gap: 0.2rem;

// Container size
$size-container: 100%;

// Border
$border-active-size: 0.35rem;
$border-div-size: 0.15rem;
$border-badge-size: 0.12rem;
$border-separator-size: 0.1rem;
$border-rounded-radius: 50%;
$border-nav-radius: 1rem;

// Icon sizes
$size-icon: 2.5rem;
$size-social-icon: 5rem;

// Maps //
$screen-sizes: (
'mobile': 320px,
'tablet': 768px,
'desktop': 1024px
);
