.btn {
  &--default {
    @extend %button;
    background: $color-primary;

    &[name="send"] {
      margin-bottom: $spacing-medium;
    }
  }

  &--error {
    @extend %button;
    background: $color-tertiary;
  }
}

.no-border {
  border: none;
}

.close-notification {
  margin-left: $spacing-small;
  border: none;
}
