.btn {
  &--default {
    @extend %button;
    background: $color-primary;

    &[name="send"] {
      margin-bottom: $spacing-medium;
    }
  }

  &--error {
    @extend %button;
    background: $color-tertiary;
  }
}
