.btn {
  &--default {
    @extend %button;
    background: $color-primary;

    &[name="send"] {
      margin-bottom: $spacing-medium;
    }
  }

  &--error {
    @extend %button;
    background: $color-tertiary;
  }
}

.close-notification {
  @extend %no-border-button;
  margin-left: $spacing-small;
}

.notification-container {
  @extend %no-border-button;
  position: relative;
}
