.div {

  &--notification-and-profile {
    @include flexy(row);
    justify-content: space-between;
    width: 95%;
  }

  &--profile {
    @include flexy(row);
    align-items: center;
  }

  &--tab {
    @extend %div-spacing;
    @include flexy(column);
  }

  &--chart-primary {
    @extend %div-spacing;
    border-bottom: $border-div-size solid $dark-gray;
    &-label {
      @extend %div-spacing;
    }
  }

  &--chart-secondary {
    @extend %div-spacing;
  }

  &--chart-tertiary {
    @extend %div-spacing;
    border-bottom: $border-div-size solid $dark-gray;
  }

  &--social-cards {
    @extend %div-spacing;
    @include flexy(column);
  }

  &--social-card {
    @extend %div-spacing;
    @extend %grid;
    background: $off-white;
    border: $border-badge-size solid $dark-gray;
    padding: $spacing-small;
    grid-gap: $size-grid-gap;
    grid-template-columns: minmax(100px, 1fr) minmax(150px, 2fr);
    grid-template-areas:
    "badge label"
    "badge stats";
  }

  &--new-members {
    @extend %div-spacing;
  }

  &--new-member {
    @include flexy(row);
    border-bottom: $border-separator-size solid $dark-gray;
    padding: $spacing-small 0;

    &:last-child {
      border: none;
    }

    &-details {
      margin: 0 $spacing-extrasmall;
    }
  }
}

// TODO: dont need the other flexboxes. check which ones are ok to delete
