.div {

  &--notification-and-profile {
    @include flexy(row);
    @include media-query('tablet') {
      justify-content: flex-end;
    }
    justify-content: space-between;
    width: 95%;
  }

  &--profile {
    @include flexy(row);
    @include media-query('tablet') {
      border-left: $border-separator-size dashed $dark-gray;
      padding-left: $spacing-medium;
      margin-left: $spacing-medium;
    }
    align-items: center;
  }

  &--tab {
    @extend %div-spacing;
    @include flexy(column);
    @include media-query('tablet') {
      background-color: $off-white;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      grid-area: tab;
    }
  }

  &--alert {
    @extend %div-spacing;
    @include flexy(row);
    justify-content: space-between;
    background-color: $color-primary;
    padding: $spacing-small;
    border-radius: $border-slightly-round-radius;
  }

  &--chart-primary {
    @extend %div-spacing;
    @extend %div-border-bottom;
    &-label {
      @extend %div-spacing;
    }
    @include media-query('tablet') {
      grid-area: chart-primary;
      padding: $spacing-small $spacing-small 0;
      margin-bottom: 0;
    }
  }

  &--chart-secondary {
    @extend %div-spacing;
    @extend %div-border-bottom;
    @include media-query('tablet') {
      grid-area: chart-secondary;
      border-right: $border-div-size solid $color-secondary;
      padding: $spacing-small $spacing-small 0;
    }
  }

  &--chart-tertiary {
    @extend %div-spacing;
    @extend %div-border-bottom;
    @include media-query('tablet') {
      grid-area: chart-tertiary;
      padding: $spacing-small $spacing-small 0;
    }
  }

  &--social-stats {
    @extend %div-spacing;
    @extend %div-border-bottom;
    @include media-query('tablet') {
      grid-area: social-stats;
      margin-bottom: 0;
    }
  }

  &--social-cards {
    @include flexy(column);
    @include media-query('tablet') {
      flex-direction: row;
      justify-content: space-around;
      margin-bottom: $spacing-large;
    }
  }

  &--social-card {
    @extend %div-spacing;
    @extend %grid;
    @include media-query('tablet') {
      margin-bottom: 0;
      grid-template-columns: repeat(2, minmax(50px, 1fr));
    }
    background: $off-white;
    border: $border-badge-size solid $dark-gray;
    border-radius: $border-slightly-round-radius;
    padding: $spacing-small;
    grid-gap: $size-grid-gap;
    grid-template-columns: minmax(50px, 1fr) minmax(75px, 2fr);
    grid-template-areas:
    "badge label"
    "badge stats";
  }

  &--new-members {
    @extend %div-spacing;
    @extend %div-border-bottom;
    @include media-query('tablet') {
      grid-area: new-members;
      border-right: $border-div-size solid $color-secondary;
      padding: $spacing-small $spacing-small 0;
      margin-bottom: 0;
    }
  }

  &--new-member {
    @extend %member-div;
    @include flexy(row);

    &-details {
      @extend %left-right-spacing;
    }
  }

  &--recent-activities {
    @extend %div-spacing;
    @extend %div-border-bottom;
    @include media-query('tablet') {
      grid-area: recent-activity;
      padding: $spacing-small $spacing-small 0;
      margin-bottom: 0;
    }
  }

  &--recent-activity {
    @extend %member-div;
    @include flexy(row);

    &-details {
      @extend %left-right-spacing;
    }
  }

  &--message-user {
    @extend %div-spacing;
    @extend %div-border-bottom;
    @include media-query('tablet') {
      grid-area: message-user;
      border-right: $border-div-size solid $color-secondary;
      border-bottom: none;
      padding: $spacing-small $spacing-small 0;
      margin-bottom: 0;
    }
  }

  &--settings {
    @extend %div-spacing;
    @include flexy(column);
    @include media-query('tablet') {
      grid-area: settings;
      padding: $spacing-small $spacing-small 0;
      justify-content: space-between;
    }
  }

  &--switch-container {
    @include flexy(row);
    margin-bottom: $spacing-small;
    justify-content: space-between;
  }

  &--button-container {
    @extend %grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-column-gap: $spacing-small;
  }
}
