.form {
  @include flexy(column);

  &__input {
    @extend %form-element;
  }

  &__textarea {
    @extend %form-element;
    margin: $spacing-small 0;
    resize: none;
  }

  &__label {
    width: 20%;
  }

  &__select {
    height: 2rem;
    margin-bottom: $spacing-medium;
  }
}
