.container {
  width: $size-container;
  margin: 0 auto;
}

.main {
  @extend %grid;
  @include media-query('tablet') {
    padding: 0;
  }
  padding: $spacing-small;
  grid-template-columns: minmax(100px, 1fr);
}
