.container {
  @include media-query('desktop') {
    display: grid;
    grid-template-columns: minmax(20px, min-content) minmax(70px, 2fr);
    grid-template-areas:
    "header header"
    "nav main";
  }
  width: $size-container;
  margin: 0 auto;
}

.main {
  @extend %grid;
  @include media-query('tablet') {
    padding: 0 0 $spacing-small;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-template-areas:
    "tab tab"
    "chart-primary chart-primary"
    "chart-secondary chart-tertiary"
    "social-stats social-stats"
    "new-members recent-activity"
    "message-user settings";
  }
  @include media-query('desktop') {
    grid-area: main;
  }
  padding: $spacing-small;
  grid-template-columns: minmax(100px, 1fr);
}
