.headline {

  &--primary {
    color: $white;
    margin-bottom: $spacing-small;
  }

  &--secondary {
    text-align: center;
    margin-bottom: $spacing-small;
  }

  &--tertiary {
    color: $color-primary;
    grid-area: label;
  }

  &--quaternary {
    color: $black;
    font-weight: $weight-thin;
    font-size: $size-social-stats-text;
    grid-area: stats;
  }
}
