.img {
  &--avatar {
    @extend %rounded;
    @extend %icon;
  }
}

.svg {
  &--icon {
    @extend %icon;
    transition: opacity $duration-animation;

    &:hover {
      opacity: 0.5;
    }
  }

  &--badge {
    @extend %social-icon;
    background: $color-primary;
    border-radius: $border-rounded-radius;
    grid-area: badge;
    & path {
      fill: $white;
    }
  }
}

.notification {
  transition: transform $duration-animation;
  transform-origin: 50% 50%;

  &:hover {
    transform: rotate(30deg);
  }
}
