.img {
  &--avatar {
    @extend %rounded;
    @extend %icon;
  }
}

.svg {
  &--icon {
    @extend %icon;
  }
  &--badge {
    @extend %social-icon;
    background: $color-primary;
    border-radius: $border-rounded-radius;
    grid-area: badge;
    & path {
      fill: $white;
    }
  }
}
