.img {
  &--avatar {
    @extend %rounded;
    @extend %icon;
  }
}

.svg {
  &--icon {
    @extend %icon;
    transition: opacity $duration-animation;

    &:hover {
      opacity: 0.5;
    }
  }

  &--badge {
    @extend %social-icon;
    background: $color-primary;
    border-radius: $border-rounded-radius;
    grid-area: badge;
    & path {
      fill: $white;
    }
  }
}

.notification {
  @extend %icon;
  transition: transform $duration-animation;
  transform-origin: top center;

  &:hover {
    transform: rotateZ(30deg);
    opacity: inherit;
  }
}

.notification-container {
  position: relative;
}

.new {
  @extend %rounded;
  border: $border-new-notification-size solid $dark-sea-green;
  position: absolute;
  top: $position-notification-top;
  right: $position-notification-right;
}
