.nav-area {
  @include media-query('desktop') {
    grid-area: nav;
  }
  background: $color-secondary;
}

.nav {
  @include flexy(row);
  @include media-query('desktop') {
    flex-direction: column;
  }

  justify-content: space-around;

  &__item {
    padding: $spacing-extrasmall;
    border: $border-active-size solid transparent;

    &.active {
      @include media-query('desktop') {
        border-bottom-color: transparent;
        border-left: $border-active-size solid $active-green;
      }
      border-bottom: $border-active-size solid $active-green;
    }
  }
}

.ul--chart {
  @include flexy(row);
  justify-content: space-around;

  &-item {
    a {
      padding: $spacing-extrasmall;
      border-radius: $border-nav-radius;
      color: $gray;

      &.active {
        background: $active-green;
        color: $white;
      }
    }
  }
}
