nav {
  background: $color-secondary;
}

.nav {
  @include flexy(row);
  justify-content: space-around;

  &__item {
    padding: $spacing-extrasmall;
    border: $border-active-size solid transparent;

    &.active {
      border-bottom: $border-active-size solid $active-green;
    }
  }
}
