// Import Google font
@if variable-exists(font-url--google) {
  @import url($font-url--google);
}

.thin {
  font-weight: $weight-thin;
}

.tm {
  font-size: $size-tm-text;
  vertical-align: top;
}

.username {
  color: $white;
  margin-left: $spacing-extrasmall;
}

.alert {
  color: $white;
}

.user-date {
  margin-left: auto;
}

.user-hours {
  font-weight: $weight-thin;
}

.more {
  margin-left: auto;
  font-size: $size-more-text;
}

.close {
  @extend %rounded;
  color: $off-white;
  font-weight: $weight-thick;
  margin-left: $spacing-medium;
}

.text {
  &--primary {
    font-size: $size-primary-text;
  }

  &--secondary {
    font-size: $size-secondary-text;
  }
}

.headline {

  &--primary {
    @include media-query('tablet') {
      margin-bottom: 0;
    }
    color: $white;
    margin-bottom: $spacing-small;
    font-size: $size-app-name-text;
  }

  &--secondary {
    @include media-query('tablet') {
      &.tab {
        background-color: $white;
        margin-bottom: 0;
        padding: $spacing-small;
      }
    }
    text-align: center;
    margin-bottom: $spacing-small;
  }


  &--tertiary {
    color: $color-primary;
    grid-area: label;
  }

  &--quaternary {
    color: $black;
    font-weight: $weight-thin;
    font-size: $size-social-stats-text;
    grid-area: stats;
  }
}


/* Typography:
    .container
    .link
    .blockquote
    .headline--primary
    .headline--secondary */
